.container {
}

.title {
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tLetterStroke,
.todayStroke {
    fill: none;
    stroke: #32ff95;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-width: 15;
    animation-name: write;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
