.animatedPath {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

:global(@keyframes writePath) {
    to {
        stroke-dashoffset: 0;
    }
}

:global(@keyframes fadeFill) {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}
