.clickable {
    cursor: pointer;
}

.largeDescription {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: var(--color-text-secondary);
}

.mediumDescription {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: var(--color-text-muted);
}
