.clickable {
    cursor: pointer;
}

.primaryButton {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
}

.secondaryButton {
    background-color: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-text);
    font-size: 1.2rem;
}

.tertiaryButton {
    background-color: var(--color-button-tertiary-bg);
    color: var(--color-button-tertiary-text);
    font-size: 1.1rem;
    padding: 0;
}

.iconButton {
    background-color: transparent;
    color: var(--color-button-text);
    font-size: 2rem;
    padding: 0;
    border-radius: 50%;
}

.largeDescription {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: var(--color-text-secondary);
}

.mediumDescription {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: var(--color-text-muted);
}

.smallDescription {
    margin: 0;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: var(--color-text-muted);
}
