.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resourcesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.downloadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.externalLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}