.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.munLogo {
    cursor: pointer;
}

.trophyImage {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 0px auto;
    margin-bottom: 40px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
}
