.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    height: calc((100svh - var(--header-scroll-offset)) * (6 / 10));
    width: 100%;
    /* max-height: 500px;
    min-height: 425px; */
    max-width: 330px;
    /* border: 1px solid red; */
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 0;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    /* border: 1px solid gold; */
}

.title {
    margin: 0;
}

.titleDrawing {
    width: min(100%, 350px);
}

.title {
    /* margin-bottom: 10px; */
}

.description {
    /* margin-bottom: 200px; */
}

.subSectionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid magenta; */
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
